@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic);

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    color: #333;
}

h1{
    color: hotpink;
}

p.error{
    color: red;
}

header{
    background-color: #f2f2f2;
}
thead td {
    font-weight: 700;
}
footer {
    margin-top: 25px;
    text-align: center;
}
.indexheader {
    height: 375px;
    font-size: 1.4em;
    padding-top: 25px;
    margin-bottom: 25px;
}
.adminindex i {
    margin-left: -10px;
}